@font-face {
  font-family: 'CustomFont1';
  src: url("/src/Fonts/GreatVibes-Regular_1.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont2';
  src: url("/src/Fonts/Bellefair-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

.font-custom2{
  font-family: 'CustomFont2', sans-serif;
}